<!DOCTYPE html>

<head>
    <title>Covid19 PH Resources</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="../../style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif
    }

    body,
    html {
        height: 100%;
        line-height: 1.8;
    }

    /* Full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("/w3images/mac.jpg");
        min-height: 100%;
        background-color: black;
    }

    .w3-bar .w3-button {
        padding: 16px;
    }
</style>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top header-cs">
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large header-mobile"
        style="display:none" id="mySidebar">

    </nav>
    <!-- Header with full-height image -->
    <div class="w3-container" style="padding:128px 16px" id="home">
        <h2 class="w3-center">Health & INFO</h2>
        <p class="w3-center w3-large"></p>
        <div>
            <h3>
                Health & Other Informational Website/Forum/Links
            </h3>
            <ul>
                <li><a href="https://trams.com.ph/" target="_blank">TrAMS.com.ph</a> - is an online needs and allocations tracker for medical supplies of local hospitals in the Philippines.</li>
                <li><a href="http://covid19.healthresearch.ph/" target="_blank">COVID-19 CORE PORTAL</a> - Research portal managed by DOST-PCHRD</li>
                <li><a href="https://www.staysafe.ph/" target="_blank">StaySafe.ph</a></a></li>
                <li><a href="https://www.facebook.com/DOHhealthypilipinas" target="_blank">DOH - Healthy Pilipinas</a></li>
                <li><a href="https://clinicalmatter.com/" target="_blank">Clinic Matter</a> - A professional networking site for healthcare.</li>
                <li><a href="https://pinoyhealth.com/" target="_blank">PinoyHealth Forum</a></li>
                <li><a href="https://www.facebook.com/rapidpassph/" target="_blank">Rapidpassph</a> - Useful app for essential vehicles </li>
                <li><a href="https://fightcovid.app/" target="_blank">FightCovid.App</a> - Self Assessment Survey</li>
                <li><a href="https://twitter.com/lenirobredo/status/1244245551240994816" target="_blank">Open Source Pattern and Techstack for PPE shared by OVP</a></li>
                <li><a href="https://aiah.ai/kira" target="_blank">KIRA Chatbot</a> - Aiah's chatbot to disseminate information regarding Covid19.</li>
                <li><a href="https://dashboardphilippines.com/" target="_blank">COVID 19 Dashboard PH</a></li>
                <li><a href="http://covid19.psphp.org/" target="_blank">LEADS for Health Security and Resilience Consortium</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.tbnotification&hl=en_CA">ITIS Lite</a> - Tuberculosis Notifier App by DOH</li>
            </ul>
        </div>
        <div>
            <h3>Consult with a doctor or healthcare professional with the following services:</h3>
            <ul>
                <li><a href="https://www.facebook.com/OfficialDOHgov/posts/3208816992462864" target="_blank">DOH Hotline Numbers for Teleconsultation</a></li>
                <li><a href="https://healthnow.ph/" target="_blank">HealthNow.ph</a></li>
                <li><a href="https://econsult.cloudmd.com.ph/" target="_blank">CloudPx</a></li>
                <li><a href="https://www.seeyoudoc.com/" target="_blank">SeeYouDoc.com</a></li>
                <li><a href="https://www.facebook.com/bayanihanMD/" target="_blank">Bayanihan MD Facebook Page</a></li>
                <li><a href="https://www.facebook.com/taguigcity/posts/3236736483025486" target="_blank">Taguig City Telemedicine Services</a></li>
                <li><a href="https://www.facebook.com/themedicalcityclinic/posts/2225600847734682" target="_blank">Free Teleconsultation by The Medical City Clinic</a></li>
                <li><a href="https://www.facebook.com/RMCmedicalanddiagnosticcenter/posts/653830815374710" target="_blank">Free consultation by RMC Ramos-Parra Medical & Diagnostic Center</a></li>
                <li><a href="https://www.facebook.com/groups/247608133303131" target="_blank">UP Dentista para sa Bayan</a> - Free online QA for your dental concerns.</li>
                <li><a href="https://www.facebook.com/COVIDAskForce" target="_blank">Lung Center COVID Ask Force</a> - free online consultation related to COVID-19</li>
                <li><a href="https://www.facebook.com/summonofaesclepius/posts/523376668196001" target="_blank">Free Covid-19 Consultation</a> by Summon of Aesclepius</li>
                <li><a href="https://bit.ly/PsycServ" target="_blank">UP Diliman Psychosocial Services</a> - Currently for UPD students, faculty and staff only</li>
                <li><a href="https://www.facebook.com/mdhpulmopostgrad.com.ph/posts/815841098925511" target="_blank">MDH Pulmonology Postgraduate Course</a> - Free online consultation Facebook page</li>
                <li><a href="https://www.facebook.com/MDLinkHealthCareInc/posts/1031884750527157" target="_blank">MD Link Healthcare Inc</a> - Free doctor's consultation</li>
                <li>HeyPhil by PhilCare (Digiconsult/Digimed)
                    <ul>
                        <li><a href="https://play.google.com/store/apps/details?id=com.app.heyphildigimed&hl=en" target="_blank">HeyPhil Digimed on Google Play</a></li>
                        <li><a href="https://apps.apple.com/app/id917095709" target="_blank">HeyPhil Apple Store on iOS App Store</a></li>
                    </ul>
                </li>
                <li><a href="https://medgatephilippines.com/" target="_blank">Medgate Philippines</a></li>
                <li><a href="https://www.mhfirstresponse.org/telehealth-services.html" target="_blank">Mental Health First Response</a>
                </li>
                <li><a href="https://www.mypocketdoctor.com/" target="_blank">MyPocketDoctor</a></li>
                <li><a href="http://www.pnthealth.net/" target="_blank">Philippine Natural Telehealth</a></li>
                <li><a href="https://www.konsulta.md/" target="_blank">KonsultaMD</a></li>
            </ul>
        </div>
        <div>
            <h3>
                Online Grocery & Market Apps
            </h3>
            <ul>
                <li><a href="https://www.facebook.com/VPLeniRobredoPH/posts/2859698257481157?__xts__[0]=68.ARCo6mIZxSUbVEsiaiqEqcrovHNiM67oTEd55VOmy-06jAqJm-3-mrlpDEw1QGgLg7bsJi08h4kgTdZ0P_7yfyVhtrkLBhxxvZCtVeGN_B61zVIOfm1Z9gLTjL87Ky8h997PQegF4MG2NHYIMSyHAYwdPMuZQ48ybMx0CYxokNNqCrOzQqvc8iGcmuJYhBtDyKYZex1zwRtgqZhspGuwyKUVclmMN9rg7BrmLDSwhwyO7gKVJAhKWYu8fJsJdkl44-RoONa5kHFdK3n7S3frNIFJXjXWjP1EGXkuWGdMQtGenDa0iQx1G-TJB1M12SdqnhAHnU5J66EKHPoUzIJfrMggEw&__tn__=-R" target="_blank">Community Mart App</a>
                    <p class="app-desc">Community Mart is an app-based local eCommerce. Order groceries, goods and supplies from our eStore partners. Download the app from Google Play and App Store today!</p>
                </li>
                    <ul>
                        <li><a href="https://play.google.com/store/apps/details?id=net.nueca.communitymart&hl=en" target="_blank">Google Play - Community Mart</a></li>
                        <li><a href="https://apps.apple.com/ph/app/community-mart/id1441502347" target="_blank">Apple App Store - Community Mart</a></li>
                    </ul>
                <li><a href="https://groceries.drivemanila.com/" target="_blank">Drive Groceries</a>
                    <p class="app-desc">Drive Groceries allows for online, non-contact, same-day delivery, grocery shopping at the comfort of your own home.</p>
                </li>
                <li><a href="https://grocergenie.ph/" target="_blank">GrocerGenie</a>
                    <p class="app-desc">GrocerGenie PH is an online grocery marketplace that enables users to purchase necessities and track orders.</p>
                </li>
                <li><a href="https://www.heyjungle.com/" target="_blank">jungle</a>
                    <p class="app-desc">Jungle allows online grocery shopping while offering a "Grocery Now, Pay Later" payment scheme.</p>
                </li>
                <li><a href="https://madtravel.org/market/" target="_blank">MadMarket</a>
                    <p class="app-desc">MAD Market delivers fresh produce and baked goods directly from local farmers and SMEs.</p>   
                </li>
                <li><a href="https://pushkart.ph/" target="_blank">Pushkart.ph</a>
                    <p class="app-desc">Pushkart.ph is an on-demand online grocery delivery service that provides convenience and on-time delivery to its patrons.</p>
                </li>
                <li><a href="https://www.zagana.com/" target="_blank">Zagana</a>
                    <p class="app-desc">Zagana delivers fresh produce straight from local farmers to support them during the pandemic.</p>
                </li>
            </ul>
        </div>
        <div class="w3-row-padding" style="margin-top:50px">
            <div class="w3-col l6 m12">
                <h3>Informational Videos</h3>
                <div>
                    <h4>Paano natin malalaban ang Covid-19</h4>
                    <p>Creator: DOH Philippines</p>
                    <div class="resp-container-youtube">
                        <iframe class="resp-iframe"
                            src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FOfficialDOHgov%2Fvideos%2F876618819444243%2F&show_text=0&width=560"
                            style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                            allowFullScreen="true"></iframe>
                    </div>

                </div>
            </div>
        </div>
        <div class="w3-row-padding" style="margin-top:50px">
            <div class="w3-col l6 m12">
                <h4>COVID or FLU: Paano Mo Malaman? - Payo ni Doc Willie Ong</h4>
                <p>Creator: Doc Willie Ong</p>
                <div class="resp-container-youtube">
                    <iframe class="resp-iframe" src="https://www.youtube.com/embed/ZyXZ7EEWkAI" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

            </div>

        </div>
        <div class="w3-row-padding" style="margin-top:50px">
            <div class="w3-col l6 m12">
                <h4>The Coronavirus Explained & What You Should Do</h4>
                <p>Creator: Kurzgesagt – In a Nutshell</p>
                <div class="resp-container-youtube">
                    <iframe class="resp-iframe" src="https://www.youtube.com/embed/BtN-goy9VOY" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

            </div>

        </div>
    </div>
    <footer class="w3-center w3-black w3-padding-64"></footer>
    <script>
        $(document).ready(function () {
            $('.header-cs').load('../../header.html');
            $('.header-mobile').load('../../header-mobile.html');
            $('footer').load('../../footer.html');


        });

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }


        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }


    </script>
</body>

</html>