<!DOCTYPE html>
<html>
<head>
    <title>Covid19 PH Resources</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="../../style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <header></header>
    <div>
        <h3>Consult with a doctor or healthcare professional with the following services:</h3>
        <ul>
            <li><a href="https://medgatephilippines.com/">Medgate Philippines</a></li>
            <li><a href="https://www.mypocketdoctor.com/">MyPocketDoctor</a></li>
            <li><a href="https://www.mhfirstresponse.org/telehealth-services.html">Mental Health First Response</a></li>
            <li><a href="http://www.pnthealth.net/">Philippine Natural Telehealth</a></li>
        </ul>
    </div>
    <footer></footer>
    <script>
       $(document).ready(function () {
            $('header').load('../../header.html');
            $('footer').load('../../footer.html');
        });
    </script>
</body>

</html>