<!DOCTYPE html>
<html>
<head>
    <title>Covid19 PH Resources</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif
    }

    body,
    html {
        height: 100%;
        line-height: 1.8;
    }

    /* Full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        /*background-image: url("/w3images/mac.jpg");*/
        min-height: 100%;
        background-color: black;
    }

    .w3-bar .w3-button {
        padding: 16px;
    }
</style>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top header-cs">
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large header-mobile"
        style="display:none" id="mySidebar">

    </nav>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-left w3-text-white" style="padding:48px">
            <span class="w3-jumbo w3-hide-small">Let's Fight Covid19!</span><br>
            <span class="w3-xxlarge w3-hide-large w3-hide-medium">Let's Fight Covid19!</span><br>
            <span class="w3-large">A collection of different links and resources to help us in this time. This is an open project, please check the Facebook or Github page if you have any concerns or would like to contribute.</span>
        </div>
        <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
            <a href="https://www.facebook.com/Covid19PHResources" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity header-i"></i></a>
            <a href="https://github.com/litemikx/covid19phresources" target="_blank"><i class="fa fa-github w3-hover-opacity header-i"></i></a>
          </div>
    </header>
    <div class="w3-container" style="padding:128px 16px" id="team">
        <h3 class="w3-center">Official Facebook Pages</h3>
        <p class="w3-center w3-large"></p>
        <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
       
        <!-- PRRD -->
          <div class="w3-col l4 m12 w3-margin-bottom">
            <div class="w3-card">
                <a href="https://www.facebook.com/rodyduterte/" target="_blank"><img src="http://op-proper.gov.ph/wp-content/uploads/2014/07/logo-opproper-transparent-bg.png" alt="PRRD" style="width: 100%"></a>
                <div class="w3-container">
                    <h4>President Rodrigo Duterte</h4>
                  </div>
              </div>
          </div>

           <!-- VP LENI -->
            <div class="w3-col l4 m12 w3-margin-bottom">
              <div class="w3-card">
                  <a href="https://www.facebook.com/VPLeniRobredoPH/" target="_blank"><img src="http://www.ovp.gov.ph/themes/rainlab-bonjour/assets/images/ovpmasthead.png" alt="VPLENI" style="width: 100%"></a>
                  <div class="w3-container">
                      <h4>VP Leni Robredo</h4>
                    </div>
                </div>
            </div>

            <!-- DOH-->
          <div class="w3-col l4 m12 w3-margin-bottom">
            <div class="w3-card">
                <a href="https://www.facebook.com/OfficialDOHgov/" target="_blank"><img src="https://www.doh.gov.ph/sites/default/files/masthead%20logo%20certified.png" alt="DOH" style="width: 100%"></a>
                <div class="w3-container">
                    <h4>Department Of Health</h4>
                  </div>
              </div>
          </div>
        </div>

        <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
         <!-- DOTr -->
         <div class="w3-col l4 m12 w3-margin-bottom">
            <div class="w3-card">
                <a href="https://www.facebook.com/DOTrPH/" target="_blank"><img src="https://scontent.fmnl5-1.fna.fbcdn.net/v/t31.0-8/p960x960/14188142_745221928950279_3406943521810305300_o.jpg?_nc_cat=1&_nc_sid=85a577&_nc_oc=AQkT6Gwx9kRO2HsQHAnW0NP_zQ2_nKWY3CmSxfb7DZeU5l-D_o-BMJR-52v2ibn6F-I&_nc_ht=scontent.fmnl5-1.fna&_nc_tp=6&oh=4a90b5fcf435a1acb85adad3bac3213c&oe=5E9E8883" alt="DOTr" style="width: 100%"></a>
                <div class="w3-container">
                    <h4>Department Of Transportation</h4>
                  </div>
              </div>
          </div>

           <!-- DILG -->
            <div class="w3-col l4 m12 w3-margin-bottom">
              <div class="w3-card">
                  <a href="https://www.facebook.com/dilg.philippines/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Department_of_the_Interior_and_Local_Government_%28DILG%29_Seal_-_Logo.svg/1200px-Department_of_the_Interior_and_Local_Government_%28DILG%29_Seal_-_Logo.svg.png" alt="DILG" style="width: 100%;"></a>
                  <div class="w3-container">
                      <h4>Department of the Interior & Local Government</h4>
                    </div>
                </div>
            </div>

             <!-- PIA -->
             <div class="w3-col l4 m12 w3-margin-bottom">
                <div class="w3-card">
                    <a href="https://www.facebook.com/pia.gov.ph/" target="_blank"><img src="https://pia.gov.ph/assets/images/logo.png" alt="PIA" style="width: 100%"></a>
                    <div class="w3-container">
                        <h4>Philippine Information Agency</h4>
                      </div>
                  </div>
              </div>
        
        </div>
    </div>
   
    <div class="w3-container w3-light-grey" style="padding:128px 16px">
        <h1 class="w3-center">Kumusta ang</12>
            <div class="w3-center w3-medium">
                <select id="city" class="w3-select" name="city">
                <option value="">Select</option>
                <optgroup label="Metro Manila">
                    <option value="ncr-caloocan">Caloocan</option>
                    <option value="ncr-laspinas">Las Pinas</option>
                    <option value="ncr-makati">Makati</option>
                    <option value="ncr-malabon">Malabon</option>
                    <option value="ncr-mandaluyong">Mandaluyong</option>
                    <option value="ncr-manilacity">Manila City</option>
                    <option value="ncr-marikina">Marikina</option>
                    <option value="ncr-muntinlupa">Muntinlupa</option>
                    <option value="ncr-navotas">Navotas</option>
                    <option value="ncr-parañaque">Parañaque</option>
                    <option value="ncr-pasay">Pasay</option>
                    <option value="ncr-pasig">Pasig</option>
                    <option value="ncr-pateros">Pateros</option>
                    <option value="ncr-quezoncity">Quezon City</option>
                    <option value="ncr-sanjuan">San Juan</option>
                    <option value="ncr-taguig">Taguig</option>
                    <option value="ncr-valenzuela">Valenzuela</option>
                </optgroup>
            </select>
            
        </div>
         <div id="region-city-content">
        </div>        
    </div>
    <footer class="w3-center w3-black w3-padding-64"></footer>
    <script>
        function isEmpty(obj) {
            for(var key in obj) {
                if(obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        }

        $(document).ready(function () {
            $('.header-cs').load('header.html');
            $('.header-mobile').load('header-mobile.html');
            $('footer').load('footer.html');

            $('select#city').change(function () {
                $('#region-city-content').empty();
                
                var str = this.value.split('-');
                var region = str[0];
                var city = str[1];
                $.get('data/' + region + '/' + city, function(data, status) {
                    
                    var datahtml = '';
                    if(isEmpty(data)) {
                        datahtml += "<p>No Information Yet</p>";
                    } else {

                        datahtml += "<p>" + data['city'] + "</p>";
                        datahtml += "<p>Status: " + data['status'] + "</p>";
                        datahtml += data['info']['facebook'];
                        
                        datahtml += "<p>Hotlines: ";
                        for(var y = 0; y < data['info']['hotlines'].length; y++) {
                            datahtml += data['info']['hotlines'][y] + ' ';
                            if(y < data['info']['hotlines'].length - 1) {
                                datahtml += '/';
                            } else {
                                datahtml += "</p>";
                            }
                        }
                    
                        var embds = data['info'];
                        for(var i = 0; i < embds['embeds'].length; i++) {
                            datahtml += "<iframe src='" + data['info']['embeds'][i] + "' " +
                                "width='476' height='476' style='border:none;overflow:hidden' scrolling='no' frameborder='0' " +
                                "allowTransparency='true' allowFullScreen='true'></iframe>";
                        }
                    }
                    
                    
                    $('#region-city-content').append(datahtml);
                });
            })

            

        });

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }


        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }


    </script>
</body>
</html>
