<!DOCTYPE html>
<html>

<head>
    <title>Covid19 PH Resources</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h1>Covid19 PH Resources</h1>

    <header></header>
    <div>
       
    </div>
    <div>
        <p>Listahan ng mga mahahalagang impormasyon na magagamit sa panahon ng Covid19.</p>
    </div>
    <div id="reach-out" class="container">
        <h3>Official Facebook Pages</h3>
        <ul>
            <li><a href="https://www.facebook.com/rodyduterte/" target="_blank">President Rody Duterte</a></li>
            <li><a href="https://www.facebook.com/PresSpokespersonPH/" target="_blank">Office of the Presidential
                    Spokesperson</a></li>
            <li><a href="https://www.facebook.com/PresSpokespersonPH/" target="_blank">Presidential Communications
                    (Government of the Philippines)</a></li>
            <li><a href="https://www.facebook.com/VPLeniRobredoPH/" target="_blank">VP Leni Robredo</a></li>
            <li><a href="https://www.facebook.com/OfficialDOHgov/" target="_blank">Department of Health</a></li>
            <li><a href="" target="_blank">Department of Transportation</a></li>
            <li><a href="" target="_blank">Department of the Interior and Local Government</a></li>
        </ul>
        <h3>Hotlines:</h3>
    </div>
    <div>
    </div>
    <div class="container">
        <a href="/maps/transpo/ncr">Mapa para sa transportasyon</a>
    </div>
    <footer>

    </footer>
    <script>
        $(document).ready(function () {
            $('header').load('header.html');
            $('footer').load('footer.html');
        });
    </script>
</body>

</html>